/*Basic colors*/
/*Fonts*/
@font-face {
  font-family: 'Gotham Pro';
  src: url('../fonts/GothamPro-Bold.eot');
  src: url('../fonts/GothamPro-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/GothamPro-Bold.woff2') format('woff2'), url('../fonts/GothamPro-Bold.woff') format('woff'), url('../fonts/GothamPro-Bold.ttf') format('truetype'), url('../fonts/GothamPro-Bold.svg#GothamPro-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Gotham Pro';
  src: url('../fonts/GothamPro-Light.eot');
  src: url('../fonts/GothamPro-Light.eot?#iefix') format('embedded-opentype'), url('../fonts/GothamPro-Light.woff2') format('woff2'), url('../fonts/GothamPro-Light.woff') format('woff'), url('../fonts/GothamPro-Light.ttf') format('truetype'), url('../fonts/GothamPro-Light.svg#GothamPro-Light') format('svg');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Gotham Pro';
  src: url('../fonts/GothamPro-Medium.eot');
  src: local('../fonts/Gotham Pro Medium'), local('GothamPro-Medium'), url('../fonts/GothamPro-Medium.eot?#iefix') format('embedded-opentype'), url('../fonts/GothamPro-Medium.woff') format('woff'), url('../fonts/GothamPro-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Gotham Pro';
  src: url('../fonts/GothamPro.eot');
  src: local('../fonts/Gotham Pro'), local('GothamPro'), url('../fonts/GothamPro.eot?#iefix') format('embedded-opentype'), url('../fonts/GothamPro.woff') format('woff'), url('../fonts/GothamPro.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Gotham Pro';
  src: url('../fonts/GothamPro-Black.eot');
  src: local('../fonts/Gotham Pro Black'), local('../fonts/GothamPro-Black'), url('../fonts/GothamPro-Black.eot?#iefix') format('embedded-opentype'), url('../fonts/GothamPro-Black.woff') format('woff'), url('../fonts/GothamPro-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}
/*Basic setting*/
body {
  font-family: 'Gotham Pro';
  font-size: 18px;
  color: #5c5959;
}
.header__content__raz img {
  height: auto;
}
/*Header block*/
.header {
  padding-top: 2em;
  padding-left: 4em;
  padding-right: 10em;
  padding-bottom: 5em;
  font-size: 20px;
}
.header__bg {
  background-image: url(../i/verhbg.png);
  background-image: url(../i/okv_verh.png);
  background-repeat: no-repeat;
}
.header__about__zag {
  font-size: 30px;
  font-weight: bold;
}
.header__about__line {
  padding-right: 0.7em;
}
.header__about {
  height: 100%;
  background-size: cover;
}
.header__content__left {
  padding-top: 10rem;
}
.header__content__raz {
  height: 100%;
}
/*<animate id="kvad3" attributeType="CSS" attributeName="opacity" from=".1" to="1" dur="2s" repeatCount="infinite" />



/*Infgroup block*/
.igroup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.igroup__bg {
  background-image: url(../i/okv_ser.png);
  background-repeat: no-repeat;
  background-position: top right;
}
.igroup__block__creddy {
  -webkit-box-shadow: 0 0 10px rgba(14, 217, 210, 0.5);
          box-shadow: 0 0 10px rgba(14, 217, 210, 0.5);
  padding-top: 19em;
  padding-left: 2em;
  padding-right: 2em;
  height: 44em;
  background-image: url(../i/ocred.png);
  background-repeat: no-repeat;
  background-position: right top;
  border-radius: 11px;
}
.igroup__block__finance {
  -webkit-box-shadow: 0 0 10px rgba(14, 217, 210, 0.5);
          box-shadow: 0 0 10px rgba(14, 217, 210, 0.5);
  padding-top: 19em;
  padding-left: 2em;
  padding-right: 2em;
  height: 44em;
  background-image: url(../i/finance.png);
  background-repeat: no-repeat;
  background-position: right top;
  border-radius: 11px;
}
.igroup__block__trade {
  -webkit-box-shadow: 0 0 10px rgba(14, 217, 210, 0.5);
          box-shadow: 0 0 10px rgba(14, 217, 210, 0.5);
  padding-top: 19em;
  padding-left: 2em;
  padding-right: 2em;
  height: 44em;
  background-image: url(../i/instrum.png);
  background-repeat: no-repeat;
  background-position: right top;
  border-radius: 11px;
}
.igroup__abzac {
  padding-top: 2em;
}
.igroup__line {
  padding-right: 0.7em;
}
.igroup__zag {
  font-size: 24px;
  font-weight: bold;
  padding-left: .5em;
}
/*Investblock*/
.invest {
  padding: 4em;
  height: 20em;
}
.invest__bg {
  background-image: url(../i/oniz_kv.png);
  background-repeat: no-repeat;
  height: 80%;
  background-position: top left;
}
.invest__investbl {
  text-align: center;
  padding: 2em;
  padding-top: 7em;
}
.invest__contacts {
  padding-top: 5em;
}
.invest__zag {
  font-size: 24px;
  font-weight: bold;
}
.invest__copyright {
  text-align: center;
  padding: 2em;
  font-size: 12px;
  padding-top: 7em;
  color: #666;
}
@media screen and (max-width: 700px) {
  body {
    font-size: 14px;
  }
  .header__bg {
    background-image: url(../i/kv_verh_mobile.png);
    background-repeat: no-repeat;
  }
  .header {
    font-size: 14px;
  }
  .header__about__zag {
    font-size: 20px;
    font-weight: bold;
  }
  .igroup__bg {
    background-image: url(../i/kv_ser_mobile.png);
    background-repeat: no-repeat;
  }
  .invest__bg {
    background-image: url(../i/niz_kv_mobile.png);
    background-repeat: no-repeat;
  }
  .header__content__raz img {
    width: 90%;
    display: none;
  }
  .igroup__block__creddy {
    margin-top: 2em;
    margin-left: 1em;
    margin-right: 1em;
  }
  .igroup__block__finance {
    margin-top: 2em;
    margin-left: 1em;
    margin-right: 1em;
  }
  .igroup__block__trade {
    margin-top: 2em;
    margin-left: 1em;
    margin-right: 1em;
  }
}
